/* Color variables */
.theme-light {
	--loading-screen-bgcolor: #E8E8E8;
	--overlay-bgcolor: #E8E8E8;
	--clock-color: #000000;
	--menu-color: #000000;
}
  
.theme-dark {
	--loading-screen-bgcolor:#26262B;
	--overlay-bgcolor: #26262B;
	--clock-color: #FFFFFF;
	--menu-color: #FFFFFF;
}

@font-face {
	font-family: Venera;
	font-weight: 500;
	src: url('../Font/Venera-500.2deb39f9.otf');
}

@font-face {
	font-family: Torus;
	font-weight: 100;
	src: url('../Font/Torus-Thin.daca2c7e.otf');
}

@font-face {
	font-family: Torus;
	font-weight: 600;
	src: url('../Font/Torus-SemiBold.d263d500.otf');
}

@font-face {
	font-family: Torus;
	font-weight: 700;
	src: url('../Font/Torus-SemiBold.d263d500.otf');
}

@font-face {
	font-family: Torus;
	font-weight: 400;
	src: url('../Font/Torus-Regular.734ed3ae.otf');
}

@font-face {
	font-family: Torus;
	font-weight: 300;
	src: url('../Font/Torus-Light.8d3ecae8.otf');
}

@font-face {
	font-family: Torus;
	font-weight: 900;
	src: url('../Font/Torus-Heavy.7dc2d96b.otf');
}

@font-face {
	font-family: Torus;
	font-weight: 800;
	src: url('../Font/Torus-Bold.c233ce17.otf');
}

@font-face {
	font-family: Major Mono;
	font-weight: 600;
	src: url('../Font/MajorMonoDisplay-Regular.ttf');
}

html,
body,
.container,
.divcontainer {
	height: 100%;
	overflow: hidden;
	margin: 0;
	/* Background transition */
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

body {
	background-color: #000000;
}

* {
	font-family: 'Torus', sans-serif;
	color: #ffffff;
}

/* Loading screen */
.loadingscreen {
	background-color: var(--loading-screen-bgcolor);
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 1;
	pointer-events: none;
	-webkit-transition: /*opacity cubic-bezier(.4,0,.2,1) 436ms*/ background 0.3s ease-in-out;
	-moz-transition: /*opacity cubic-bezier(.4,0,.2,1) 436ms*/ background 0.3s ease-in-out;
	transition: /*opacity cubic-bezier(.4,0,.2,1) 436ms*/ background 0.3s ease-in-out;
	z-index: 5;
}

.glyph-frame {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-animation: loadfadein 1000ms;
	-moz-animation: loadfadein 1000ms;
	animation: loadfadein 1000ms;
	height: 98%;
}

.loading-glyph {
	width: 112px;
	height: 112px;
	-webkit-align-self: center;
	-moz-align-self: center;
	align-self: center;
	/*border-radius: 50%;*/
}

.loadingscreen-head {
	background-color: #d1ecc0;
	height: 4px;
	overflow: hidden;
	position: relative;
	-webkit-animation: loadfadein 1500ms;
	-moz-animation: loadfadein 1500ms;
	animation: loadfadein 1500ms;
}

.loadingscreen .first-indicator,
.loadingscreen .second-indicator {
	background-color: #79c748;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-animation: loadfadein 1500ms;
	-moz-animation: loadfadein 1500ms;
	animation: loadfadein 1000ms;
}

.loadingscreen .first-indicator {
	-webkit-animation: first-indicator 2s linear infinite;
	-moz-animation: first-indicator 2s linear infinite;
	animation: first-indicator 2s linear infinite;
}

.loadingscreen .second-indicator {
	-webkit-animation: second-indicator 2s linear infinite;
	-moz-animation: second-indicator 2s linear infinite;
	animation: second-indicator 2s linear infinite;
}

.loadingscreen .insp-logo {
	animation: App-logo-spin infinite 20s linear;
	border-radius: 50%; 
	-webkit-align-self: center;
	-moz-align-self: center;
	align-self: center;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loadfadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes loadfadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
  }

  @keyframes loadfadein {
	from {
		opacity: 0;
	}
	to { 
		opacity: 1;
	}
}

@keyframes first-indicator {
	0% {
		transform: translate(0) scaleX(0);
	}
	25% {
		transform: translate(0) scaleX(.5);
	}
	50% {
		transform: translate(25%) scaleX(.75);
	}
	75% {
		transform: translate(100%) scaleX(0);
	}
	100% {
		transform: translate(100%) scaleX(0);
	}
}

@keyframes second-indicator {
	0% {
		transform: translate(0) scaleX(0);
	}
	60% {
		transform: translate(0) scaleX(0);
	}
	80% {
		transform: translate(0) scaleX(.6);
	}
	100% {
		transform: translate(100%) scaleX(.1);
	}
}

.wife {
	right: 100%;
	margin: 0;
}

.Background {
	/* The image used */
	background-image: url('../Images/Background/default.jpg') !important;
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
	opacity: 0.6;
}

.container {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	font-size: 3.5vw;
	font-weight: 400;
}

.message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	text-shadow: 1px 1px 3px #000000;
}

.time {
	font-family: 'Major Mono';
	letter-spacing: -0.125em
}

.timetext {
	font-weight: 200;
	margin: 0.5%;
}

header {
	position: absolute;
	text-align: left;
	font-size:  2vw;
	font-weight: 300;
	top: 5px;
	left: 5px;
}

footer {
	position: absolute;
	text-align: left;
	font-size: 2vw;
	font-weight: 300;
	bottom: 5px;
	left: 5px;
}
